{% extends "dashboard.html" %}
{% load static%}

{% block title %}
	<title>Reportes</title>
{% endblock title %}
{% block titulohoja%}
	<h2 class="titulo">Reportes</h2>
{% endblock titulohoja %}

{% block areatrabajo%}

<script>
    var reporteVentas = "{% url 'reporteVentas' %}";
    var reporteVentasDinamicas = "{% url 'reporteVentasDinamicas' %}";
    var costeoInventarioURL = "{% url 'costearInventario' %}";
    var BuscarXFecha = "{% url 'buscarXfecha'%}" 
    var remi = "{% url 'datosRemision' %}"
    var imprimir = "{% static 'reportes.css' %}"
    var buscarXfechaRemi = "{% url 'buscarXfechaRemision'%}"
    var BuscarXFechaCombinadas = "{%url 'buscarXfechaCombinada'%}"
</script>

<link rel="stylesheet" href="{%static 'reportes.css'%}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'reportes.js' %}"></script>



<div class="tabs-container">
    <div class="tabs">
        <button class="tab-button" data-target="#tab1">Ventas</button>
        <button class="tab-button" data-target="#tab2">Ventas Dinamicas</button>
        <button class="tab-button" data-target="#tab3">Ventas Totales</button>
        <button class="tab-button" data-target="#tab4">Inventario</button>
    </div>
    <div class="tab-content">
        <div id="tab1" class="tab-pane">
            <div class="cabecera-tabla">
                <div class="contenedor-fecha">
                    <div class="filtroFecha">
                        <label for="fecha_inicio">Fecha Inicio</label>
                        <input type="date" id="fecha_inicioVentas" name="fecha_inicio" class="form-control" value="{{ request.GET.fecha_inicio }}">
                    </div>
                    <div  class="filtroFecha">
                        <label for="fecha_fin">Fecha Fin</label>
                        <input type="date" id="fecha_finVentas" name="fecha_fin" class="form-control" value="{{ request.GET.fecha_fin }}">
                    </div>
                    <div  class="filtroFecha" >
                        <button class="BuscarFechaVentas">BUSCAR</button>
                    </div>
                </div>
            </div>
            <div class= "tabla">
                <table class="table" id="tabla-formulario">
                    <thead class="table">
                        <tr class="encabezado">
                            <td>ID Producto</td>
                            <td>Nombre</td>
                            <td>Precio de venta</td>
                            <td>Fecha</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>	
                
            </div>
            <div id="floating-container" class="floating-container">
                <button id="minimize-btn" class="minimize-btn">➖</button>
                <p class="inicioFecha">Fecha inicio: <span id="start-week"></span></p>
                <p class="finFecha">Fecha Final: <span id="current-day"></span></p>
                <p>Total Facturas: <span id="total-value">Cargando...</span></p> <!-- Mostrar mensaje de carga inicial -->
            </div>
        </div>
        <div id="tab2" class="tab-pane">
            <div class="cabecera-tabla">
                <div class="contenedor-fecha">
                    <div class="filtroFecha">
                        <label for="fecha_inicio">Fecha Inicio</label>
                        <input type="date" id="fecha_inicioVentasDinamicas" name="fecha_inicio" class="form-control" value="{{ request.GET.fecha_inicio }}">
                    </div>
                    <div  class="filtroFecha">
                        <label for="fecha_fin">Fecha Fin</label>
                        <input type="date" id="fecha_finVentasDinamicas" name="fecha_fin" class="form-control" value="{{ request.GET.fecha_fin }}">
                    </div>
                    <div  class="filtroFecha" >
                        <button class="BuscarFechaVentasDinamicas">BUSCAR</button>
                    </div>
                </div>
            </div>
            <div class= "tabla">
                <table class="table" id="tabla-formulario2">
                    <thead class="table">
                        <tr class="encabezado">
                            <td>ID Producto</td>
                            <td>Nombre</td>
                            <td>Precio de venta</td>
                            <td>Fecha</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>	
                
            </div>
            <div id="floating-container1" class="floating-container">
                <button id="minimize-btn1" class="minimize-btn">➖</button>
                <p> Fecha Inicio :  <span id="start-week2"></span></p>
                <p>Fecha fin :  <span id="current-day2"></span></p>
                <p>Total Facturas: <span id="total-value2">Cargando...</span></p> <!-- Mostrar mensaje de carga inicial -->
            </div>

            <div id="modalDetalleOrden" class="modal">
                <div class="modal-content">
                    <span class="close" id="closeButton">&times;</span>
                    <div class="cabeceraModal">
                        <h2 id="detalleContenido">Orden de Salida</h2>
                    </div>
                    <div class="container">
                        <div class="invoice-header">
                            <!---<h2>Lugrascol SAS</h2>
                            <h4>Lubricantes y grasas de Colombia</h4>
                            <p>Vda laguneta KM 2</p>
                            <p>Giron, Santander</p>
                            <p>(607)55555555</p>
                            <p>info@lubricantesgrasas.com</p>
                            --->
                        </div>
                        <div class="invoice-details">
                            <p class="fecha" id="modalFecha"></p>
                            <p id="modalFacturaN"></p>
                            <p class="valorNit"></p>
                        </div>
                    </div>
                    <div class="container">
                        <div class="invoice-header">
                            <h3>FACTURAR A:</h3>
                            <p class="nombreCliente" id="modalNombreCliente">[Nombre]</p>
                            <p class="direcCliente" id="modalDireccionCliente">[Dirección]</p>
                            <p class="telCliente" id="modalTelCliente">Teléfono: [000-000-0000]</p>
                            <p class="emailCliente" id="modalEmailCliente">[Ciudad, Estado, Código Postal]</p>
                        </div>
                    </div>
                    <table class="DESCRIPCION" id="tabla-formulario-modal">
                        <thead>
                            <tr class="encabezado">
                                <th class="descripcion">DESCRIPCION</th>
                                <th class="precio">PRECIO UNITARIO</th>
                                <th>SUBTOTAL</th>
                            </tr>
                        </thead>
                        <tbody id="modalDescripcion">
                            <!-- Se llenará dinámicamente -->
                        </tbody>
                    </table>
                    <div class="coment-total">
                        <div class="comments">
                            <h4>COMENTARIOS</h4>
                            <p></p>
                            <p></p>
                        </div>
                        <table class="tablamodal">
                            <tr>
                                <td>SUBTOTAL</td>
                                <td class="valorSUBTOTAL">$ 0</td>
                            </tr>
                            <tr>
                                <td>TASA DE IMPUESTO</td>
                                <td class="taza"></td>
                            </tr>
                            <tr>
                                <td>IMPUESTO</td>
                                <td class="valorIVA" id="modalImpuesto"></td>
                            </tr>
                            <tr>
                                <td>OTRO</td>
                                <td>$ -</td>
                            </tr>
                            <tr>
                                <td>TOTAL</td>
                                <td class="valorTOTAL"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="invoice-footer">
                        <p>Si usted tiene preguntas sobre esta factura, póngase en contacto con [Nombre, Teléfono, E-mail]</p>
                        <p>¡Gracias por su negocio!</p>
                        <button onclick="printModal()">imprimir <i class="bi bi-printer"></i></button>
                    </div>
                </div>
            </div>
        
            <div class="hoja">
                <div class="cabecera">
                    <div class="logo">
                        <img src="{% static 'logo.png'%}" alt="">
        
                    </div>
                    <div class="encabezado-hoja">
                        <textarea name="text-encabezado" id="text-encabezado">
                            LUGRASCOL S.A.S
                            NIT:901.452.546-7
                            Hoja de seguridad 2 RESPONSABLE DE IVA
                            ESTA HOJA DE SEGURIDAD POR SU SIMILITUD DE INGREDIENTES CUBRE LOS SIGUIENTES PRODUCTOS: LUGRASCOL</textarea>
                    </div>
                </div>
                <div class="productos-hoja">
                    <h4 class="descripcion-hoja">Descripcion</h4>
                    <div class="lista-productos">
        
                    </div>
                </div>
                <div class="seccion1">
                    <P class="tituloSeccion1">
                        SECCION I. PRODUCTO QUIMICO E IDENTIFICACION DE LA COMPAÑIA NUMERO DE RESPUESTA ANTE LA EMERGENCIA(24 HORAS): <span>Tel: 6468160</span>
                    </P>
                    <h5 class="preparado">PREPARADO POR:</h5>
                    <p class="direccion-hoja">DIRECCION DE INNOVACION Y DESARROLLO FABRICA DE LUBRICANTES LUGRASCOL S.A.S</p>
                    <div class="fechas">
                        <span class="fechai">FECHA DE ELABORACION: Enero 2017.</span> <span class="fechaf">FECHA DE REVISION: Enero 2024</span>
                    </div>
                    <hr>
                    <div class="seccion2">
                        <h4>SECCION II. COMPOSICIÓN / INFORMACIÓN SOBRE INGREDIENTES</h4>
                        <div class="encabezado-tabla">
                            <h5>INGREDIENTES</h5>
                            <h5>WT/WT%</h5>
                        </div>
                        <div class="lista-ingredientes">
                            <div class="primerCuadrante">
                                <ol>
                                    <li> Aceite Mineral Refinado de Petroleo
                                        <span> Aditivos, compuestos organometalicos: antidesgaste inhibidores de oxidación, corrosión, Herrumbes, Antiespumantes, modificadores de fricción, extrema presion, mejoradores de Indices de Viscosidad, y depresores de punto de fluidez, entre otros.
                                        </span>
                                    </li>
                                    <li>La composicion quimica es confidencial pero disponible en momento de requerirlo para efectos medicos.</li>
                                </ol>
                            </div>
                            <div class="segundoCuadrante">
                                <ol>
                                    <li>
                                        <span>No aplicable en mezclas</span>
                                    </li>
                                    <li>
                                        <span>No aplicable en mezclas</span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <hr>
                        <div class="seccion3">
                            <h4>SECCIÓN III. IDENTIFICACIÓN DE PELIGROS.</h4>
                            <h5>Aspectos Generales en Caso de Emergencia.</h5>
                            <h4 class="tituloEfectos">EFECTOS POTENCIALES EN LA SALUD</h4>
        
                            <div class="img-text">
                                <div class="text">
                                    <span>Peligros Significativos:</span>
                                    <ul>
                                        <li>Salud: Azul , 1 : Ligeramente peligroso</li>
                                        <li>Incendio. 1. combustible si se calienta.</li>
                                        <li>Reactividad: Amarillo 0 : Estable</li>
                                        <li>Riesgo Especifico: Blanco. No aplica debido a que los componentes no se identifican con los riesgos establecidos</li>
                                    </ul>
                                    <h4 class="ref">Referencia 3082 <span>Naciones Unidas</span></h4>
        
                                </div>
                                <div class="img-1">
                                    <div class="one">
                                        <img src="{% static 'Picture1.jpg'%}" alt="" class="img-one">
                                    </div>
                                    <div class="two">
                                        <img src="{% static 'Picture2.jpg'%}" alt="">
                                    </div>
        
                                </div>
                                <div class="img-grande">
                                    <img src="{% static 'Picture3.jpg'%}" alt="">
        
                                </div>
                            </div>
                            <div class="finSeccion3">
                                <h5>CONTACTO CON LOS OJOS:</h5>
                                <span>de moderada a fuerte basados en los datos de los componentes o materiales similares.</span>
                                <h5>INHALACIÓN:</h5>
                                <span>No es toxico por inhalación, basados en los datos de los componentes o materiales similares en exposición breve y a temperatura ambiente</span>
                                <h5>INGESTIÓN:</h5>
                                <span>Toxicidad Ligeramente Peligrosa.</span>
                                <h5>EFECTOS CRONICOS</h5>
                                <span>La ingestión repetida de cualquiera de los componentes de este producto puede causar destrucción de la pared estomacal.</span>
                                <h5>CONTACTO CON LA PIEL</h5>
                                <span>
                                    No causa irritación con la piel de manera inmediata. El contacto prolongado o repetido tanto con la piel como con la ropa
                                    lubricante puede causar dermatitis. Los sintomas pueden causar edemas y resequedad.
                                    Con la grasa usada o deteriorada por el uso estos efectos pueden desarrollarse mas rapidamente 
                                </span>
                                <h5>CARCINOGENIDAD</h5>
                                <span>
                                    Este producto es formulado con acidos grasos y aceites minerales (del petroleo) los cuales son considerados altamente refinados 
                                    puede ser contemplado como cancerigeno bajo la IARC.
                                </span>
                                <h4>SECCIÓN MEDIDAS PRIMEROS AUXILIOS:</h4>
                                <span><ul>
                                    <li><h6>OJOS</h6><span>Lavar con agua inmediatamente durante minimo 15 minutos y dar atención medica.</span></li>
                                    <li><h6>PIEL:</h6><span></span> Lavar con agua inmediatamente durante minimo 15 minutos y dar atención medica.</li>
                                </ul></span>
                            </div>
                        </div>
        
                    </div>
                </div>
                <p class="finHoja">LUGRASCOL S.A.S. NIT. 901.452.546-7 VEREDA LAGUNETA FINCA LOS DOMINGUEZ - GIRÓN (SANTANDER)</p>
        
            </div>
        

        </div>
        <div id="tab3" class="tab-pane">
            <div class="cabecera-tabla">
                <div class="contenedor-fecha">
                    <div class="filtroFecha">
                        <label for="fecha_inicio">Fecha Inicio</label>
                        <input type="date" id="fecha_inicioVentasCombinadas" name="fecha_inicio" class="form-control" value="{{ request.GET.fecha_inicio }}">
                    </div>
                    <div  class="filtroFecha">
                        <label for="fecha_fin">Fecha Fin</label>
                        <input type="date" id="fecha_finVentasCombinadas" name="fecha_fin" class="form-control" value="{{ request.GET.fecha_fin }}">
                    </div>
                    <div  class="filtroFecha" >
                        <button class="BuscarFechaVentasCombinadas">BUSCAR</button>
                    </div>
                </div>
            </div>
            <div class= "tabla">
                <table class="table" id="tabla-formulario3">
                    <thead class="table">
                        <tr class="encabezado">
                            <td>ID Producto</td>
                            <td>Nombre</td>
                            <td> Cantidad</td>
                            <td>Precio de venta</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>	
                
            </div>
            <div id="floating-container2" class="floating-container">
                <button id="minimize-btn2" class="minimize-btn">➖</button>
                <p>Fecha Inicio : <span id="start-week3"></span></p>
                <p>Fecha Fin : <span id="current-day3"></span></p>
                <p>Total Facturas: <span id="total-value3">Cargando...</span></p> <!-- Mostrar mensaje de carga inicial -->
            </div>
        </div>
        <div id="tab4" class="tab-pane">
            <div class= "tabla">
                <table class="table" id="tabla-formulario4">
                    <thead class="table">
                        <tr class="encabezado">
                            <td>ID Producto</td>
                            <td>Nombre</td>
                            <td> Cantidad</td>
                            <td>Precio de venta</td>
                            <td>Total Fila</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>	
                
            </div>
            <div id="floating-container3" class="floating-container">
                <button id="minimize-btn3" class="minimize-btn">➖</button>
                <p>Costo total productos - cantidad</p>
                <p>Total Inventario: <span id="total-value4">Cargando...</span></p> <!-- Mostrar mensaje de carga inicial -->
            </div>
        </div>
    </div>
</div>



{%endblock %}