/*estilos para la barra de pestañas */

.tabs-container {
    width: 100%;
    margin: 0 auto;
}

.tabs {
    display: flex;
    background-color: #f1f1f1;
    border-bottom: 2px solid #ddd;
}

.tab-button {
    background-color: #f1f1f1;
    border: none;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: white;
    border-bottom: 2px solid #007bff;
}

.tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

/*estilos para la tabla*/
.tabla {
    width: 100%;
    margin: 20px auto;
    margin-top: 20px; /* Espacio entre la tabla y el contenido superior */
    overflow-x: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    max-height: calc(100vh - 140px); /* Altura máxima de la tabla */
    overflow-y: scroll;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Encabezado de la tabla */
.encabezado td {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
}

/* Cuerpo de la tabla */
.table tbody tr:hover {
    background-color: #f5f5f5;
}

/* Estilos para las celdas */
.table td {
    color: #333;
}

/* Estilos para el texto */
.table th, .table td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Mejora de la accesibilidad en pantallas pequeñas */
@media screen and (max-width: 600px) {
    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

/*estilos para el campo flotante de total*/
.floating-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    cursor: move; /* Cambiar cursor a mano para indicar que se puede mover */
    transition: all 0.3s ease; /* Transición suave para mostrar/ocultar */
    /*display: none; /* Ocultar inicialmente */
}

.floating-container p {
    margin: 0;
    font-size: 16px;
}

.floating-container span {
    font-weight: bold;
}


.minimize-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.floating-container.minimized {
    width: 30px; /* Ancho cuando está minimizado */
    height: 30px; /* Alto cuando está minimizado */
    overflow: hidden; /* Ocultar el contenido al minimizar */
    padding: 5px;
}

.floating-container.minimized p {
    display: none; /* Ocultar los párrafos cuando está minimizado */
}

.floating-container.minimized #minimize-btn {
    font-size: 20px;
    transform: rotate(180deg); /* Girar el icono para indicar que se puede expandir */
}

/*estilos para el filtro de  fecha */

.form-control {
    /* Ajusta el ancho del input */


    /* Estilo del borde */
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 2px;
    font-size: 16px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

    /* Transición para el borde y sombra */
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
    border-color: #4caf50; /* Color del borde cuando está en foco */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Sombra cuando está en foco */
    outline: none; /* Elimina el contorno por defecto */
}

.form-control::-webkit-calendar-picker-indicator {
    background: #4caf50;
    border-radius: 3px;
    color: #fff;
}

.form-control::-webkit-calendar-picker-indicator:hover {
    background: #4caf50;
}

.form-group {
    margin-bottom: 1rem;
}

.cabecera-tabla {
    padding: 10px; /* Espaciado interno para la cabecera */
    background-color: #f8f9fa; /* Fondo claro para la cabecera */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px; /* Espaciado inferior para separar de otros elementos */
}
.contenedor-fecha{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px; /* Espacio entre los elementos de fecha */
    width: 50%;
    
    
}
.filtroFecha {
    display: flex;
    flex-direction:column;
    gap: 10px; /* Espacio entre las etiquetas y los campos de fecha */
    width: 50%;
}
label{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.BuscarFechaVentas, .BuscarFechaVentasDinamicas, .BuscarFechaVentasCombinadas{
    flex:none;
    margin-top: 35px;
    width: 40%;
    padding: 3px 6px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.selec-filter{
    width: 40%;
    text-align: center;

}



/*estilos para el modal y remsiion*/

/* Estilo básico para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1000; /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Hacer scroll si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo semitransparente */
    background-color: rgba(0,0,0,0.4); /* Color de fondo semitransparente */
}

/* Estilo del contenido del modal */
.modal-content {
    position: relative;
    background-color: #ffff;
    margin: 15% auto; /* Centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
    background: 
    linear-gradient(
        rgba(255, 255, 255, 0.92), 
        rgba(255, 255, 255, 0.92)
    ), url('../static/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}
.modal-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4); /* Capa blanca semitransparente */
    z-index: -1000; /* Coloca esta capa detrás del contenido del modal */
}

/* Estilo para el botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media print {
    .no-print {
        display: none;
    }
}
#detalleContenido{
    text-align: center;
    font-size: 22px;
}

.tablatotales{
    display: grid;
    justify-content: end; /* Alinea los elementos al final del contenedor */
    padding: 10px;
    height: 70px;
    
    
}


.totalFactura, .iva{
    width: 300px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px;
    
}

.datosCliente {
    display: flex;
    flex-direction: column; /* Organiza los elementos en una columna */
    border: 1px solid #ddd; /* Borde alrededor del contenedor */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espacio interno */
    background-color: #f9f9f9; /* Fondo suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    max-width: 60%; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Centra el contenedor horizontalmente */
}

.datosCliente div {
    display: flex;
    justify-content: space-between; /* Espacia las etiquetas y valores */
    margin-bottom: 10px; /* Espacio entre cada línea */
}

.datosCliente div strong {
    color: #333; /* Color para las etiquetas */
    font-weight: bold; /* Negrita para las etiquetas */
}

.datosCliente div span {
    color: #555; /* Color para el valor */
}



.Imprimir {
    display: flex;
    justify-content: flex-end; /* Alinea el botón al final del contenedor */
    margin-top: 20px; /* Espacio arriba del contenedor */
}

.botonImprimir {
    display: inline-flex;
    align-items: center; /* Centra el ícono verticalmente con el texto */
    padding: 10px 20px; /* Espacio interno del botón */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita para el texto */
    color: #ffffff; /* Color del texto */
    background-color: #4CAF50; /* Color de fondo del botón */
    border: none; /* Sin borde */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el botón */
    cursor: pointer; /* Cambia el cursor a mano al pasar sobre el botón */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave para cambios de color y sombra */
}

.botonImprimir:hover {
    background-color: #4CAF50; /* Color de fondo al pasar el cursor */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al pasar el cursor */
}

.botonImprimir i {
    margin-left: 8px; /* Espacio entre el texto y el ícono */
}


/* prueba modelo factura*/

        .container {
            display: flex;
            justify-content: space-between;
        }
        .invoice-header {
            width: 50%;
            
        }
        .invoice-header p{
            margin-block-start: 3px;
            margin-block-end: 3px ;
        }
        .invoice-header h2{
            margin-block-end: 3px;
        }
        .invoice-header h4{
            margin-block-start: 3px;
        }
        .invoice-details {
            width: 40%;
            text-align: right;
        }
        .invoice-details h2 {
            margin-top: 0;
        }
        .tablamodal {
            flex: 1;
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        .tablamodal.th, .tablamodal.td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
        .comments {
            flex: 1;
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ddd;
        }
        .invoice-footer {
            text-align: center;
            margin-top: 20px;
        }

.coment-total{
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Espacio entre los contenedores */
}        

/*estilos para la tabla de factura*/

.DESCRIPCION{
    width: 100%;
}
.precio{
    width: 20%;
    text-align: center;
}
