/* Estilos generales para la tabla */
.tabla {
    width: 100%;
    margin: 20px auto;
    margin-top: 20px; /* Espacio entre la tabla y el contenido superior */
    overflow-x: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    max-height: calc(100vh - 140px); /* Altura máxima de la tabla */
    overflow-y: scroll;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Encabezado de la tabla */
.encabezado td {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
}

/* Cuerpo de la tabla */
.table tbody tr:hover {
    background-color: #f5f5f5;
}

/* Estilos para las celdas */
.table td {
    color: #333;
}

/* Estilos para el texto */
.table th, .table td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Mejora de la accesibilidad en pantallas pequeñas */
@media screen and (max-width: 600px) {
    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}
.highlight {
    background-color: #f0f0f0; /* Color de fondo para resaltar la fila */
}
/*estilos para el modal */

/* Estilo básico para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1000; /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Hacer scroll si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo semitransparente */
    background-color: rgba(0,0,0,0.4); /* Color de fondo semitransparente */
}

/* Estilo del contenido del modal */
.modal-content {
    position: relative;
    background-color: #ffff;
    margin: 1% auto; /* Centrado */
    padding: 5px;
    border: none;
    width: 80%; /* Ancho del modal */
    background: 
    linear-gradient(
        rgba(255, 255, 255, 0.92), 
        rgba(255, 255, 255, 0.92)
    ), url('../static/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}
.modal-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4); /* Capa blanca semitransparente */
    z-index: -1000; /* Coloca esta capa detrás del contenido del modal */
}
.hojaSeguridad {
    page-break-before: always;  /* Asegura que la hoja de seguridad comience en una nueva página */
    page-break-inside: avoid;   /* Evita el corte dentro del contenedor */ 
    padding: 5px;              /* Espaciado del contenido */
    background-color: #fff;     /* Fondo blanco */
    border: 1px solid #000;     /* Borde alrededor de la hoja de seguridad */
}

/* Estilo para el botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media print {
    .no-print {
        display: none;
    }
}
#detalleContenido{
    text-align: center;
    font-size: 22px;
}

.tablatotales{
    display: grid;
    justify-content: end; /* Alinea los elementos al final del contenedor */
    padding: 10px;
    height: 70px;
    
    
}


.totalFactura, .iva{
    width: 300px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px;
    
}

.datosCliente {
    display: flex;
    flex-direction: column; /* Organiza los elementos en una columna */
    border: 1px solid #ddd; /* Borde alrededor del contenedor */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espacio interno */
    background-color: #f9f9f9; /* Fondo suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    max-width: 60%; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Centra el contenedor horizontalmente */
}

.datosCliente div {
    display: flex;
    justify-content: space-between; /* Espacia las etiquetas y valores */
    margin-bottom: 10px; /* Espacio entre cada línea */
}

.datosCliente div strong {
    color: #333; /* Color para las etiquetas */
    font-weight: bold; /* Negrita para las etiquetas */
}

.datosCliente div span {
    color: #555; /* Color para el valor */
}



.Imprimir {
    display: flex;
    justify-content: flex-end; /* Alinea el botón al final del contenedor */
    margin-top: 20px; /* Espacio arriba del contenedor */
}

.botonImprimir {
    display: inline-flex;
    align-items: center; /* Centra el ícono verticalmente con el texto */
    padding: 10px 20px; /* Espacio interno del botón */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita para el texto */
    color: #ffffff; /* Color del texto */
    background-color: #4CAF50; /* Color de fondo del botón */
    border: none; /* Sin borde */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el botón */
    cursor: pointer; /* Cambia el cursor a mano al pasar sobre el botón */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave para cambios de color y sombra */
}

.botonImprimir:hover {
    background-color: #4CAF50; /* Color de fondo al pasar el cursor */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al pasar el cursor */
}

.botonImprimir i {
    margin-left: 8px; /* Espacio entre el texto y el ícono */
}


/* prueba modelo factura*/

        .container {
            display: flex;
            justify-content: space-between;
        }
        .invoice-header {
            width: 50%;
            
        }
        .invoice-header p{
            margin-block-start: 3px;
            margin-block-end: 3px ;
        }
        .invoice-header h2{
            margin-block-end: 3px;
        }
        .invoice-header h4{
            margin-block-start: 3px;
        }
        .invoice-details {
            width: 40%;
            text-align: right;
        }
        .invoice-details h2 {
            margin-top: 0;
        }
        .tablamodal {
            flex: 1;
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        .tablamodal.th, .tablamodal.td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
        .comments {
            flex: 1;
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ddd;
        }
        .invoice-footer {
            text-align: center;
            margin-top: 20px;
        }

.coment-total{
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Espacio entre los contenedores */
}        

/*estilos para la tabla de factura*/

.DESCRIPCION{
    width: 100%;
}
.precio{
    width: 20%;
    text-align: center;
}

/* ESTILOS PARA EL SELECT2*/
.js-example-basic-single{
    width: 40%;
    
    margin-bottom: 15px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #4CAF50 !important; 
    color: #fff !important; 
    
}


.select2-container--default .select2-selection--single .select2-selection__rendered {
    
    border-radius: 4px;
    border: 1px solid #f9f9f9;
    height: 25px; /* Asegura que la altura sea similar a los otros inputs */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
    transition: box-shadow 0.3s ease; 
    
}

span.select2-selection.select2-selection--single {
    text-align: start;
    border: none;
    
}
.selector-container {
    width: 100%;
    
    margin-bottom: 50px;
    gap: 10px; /* Espacio entre el select2 y el botón */
    background-color: #f9f9f9;
    align-items: center;
    
    
}



.form-control {
  /* Ajusta el ancho del input */


    /* Estilo del borde */
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 2px;
    font-size: 16px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    
    /* Transición para el borde y sombra */
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
    border-color: #4caf50; /* Color del borde cuando está en foco */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Sombra cuando está en foco */
    outline: none; /* Elimina el contorno por defecto */
}

.form-control::-webkit-calendar-picker-indicator {
    background: #4caf50;
    border-radius: 3px;
    color: #fff;
}

.form-control::-webkit-calendar-picker-indicator:hover {
    background: #4caf50;
}

.form-group {
    margin-bottom: 1rem;
}

.sobretabla{
    display: flex;
    gap: 10px;
    flex-direction:row;
    
}
.selector{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.contenedor-fecha{
    display: flex;
    flex-direction: row;
    gap: 10px; /* Espacio entre los elementos de fecha */
    width: 50%;
    
}
.filtroFecha {
    display: flex;
    flex-direction:column;
    gap: 10px; /* Espacio entre las etiquetas y los campos de fecha */
    width: 50%;
}
label{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
button {
    flex:none;
    margin-top: 35px;
    width: 40%;
    padding: 3px 6px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.selec-filter{
    width: 40%;
    text-align: center;

}


/* estilos para la hoja de seguridad */
.hoja{
    display: none;
}

.cabecera{
    display: flex;
    justify-content:space-between;
}
.encabezado-hoja{
    display: flex;
    justify-content:space-between;
    width: 1000px;

}
.logo{
    width: 80px;
    height: 80px;
}
.encabezado-hoja textarea{
    width: 100%;
    text-align: center;
    border: none;
}
img{
    width: 80px;
    height: 80px;
}
.descripcion-hoja{
    text-align: center;
}
.seccion1{
    width: 100%;
}
.seccion1 h5, .seccion1 p{
    font-size: 10px;
}
.tituloSeccion1{
    text-align: left;
    width: 50%;
    font-weight: bold;
    font-size: 10px;
}
.fechas{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
}
.fechas span{
    font-size: 10px;
}
.preparado{
    margin-bottom: 1px ;
}
.direccion-hoja{
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
}
.seccion2 h4{
    text-align: center;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.encabezado-tabla{
    display: flex;
    justify-content: space-between;
}
.encabezado-tabla h5, .encabezado-tabla span{
    width: 30%;
    text-align: center;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.lista-ingredientes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.primerCuadrante li , .primerCuadrante span{
    font-size: 10px;
}
.segundoCuadrante span{
    font-size: 10px;
}
.primerCuadrante, .segundoCuadrante{
    width: 40%;
}
.seccion3 h5{
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 10px;
}
.seccion3 h4{
    margin-bottom: 2px;
    font-size: 10px;
}
.seccion3 .tituloEfectos{
    margin-top: 2px;
    font-size: 10px;
}
.img-text{
    display: flex;
    justify-content: space-between;
}
.text{
    width: 50%;
}
.text span, .text li{
    font-size: 10px;
}
.ref{
    align-content: start;
    font-size: 10px;
}
.img-1{
    width: 25%;
    display: flex;
    flex-direction: column;
    
}
/* Estilos para los contenedores internos */
.one, .two {
    width: 100%;
    height: 50%;            /* Ocupan la mitad del contenedor */

}
.img-grande{
    width: 25%;
}
.img-1 img{
    width: 80px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.img-grande img{
    width: 120px;
    height: 120px;
    margin-left: 10px;
}
.finSeccion3 h5, .finSeccion3 h4{
    text-align: left;
    font-weight: bold;
    font-size: 9px;
}
.finSeccion3 h6{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 9px;
}
.finSeccion3 span{
    font-size: 8px;
}
.finHoja{
    text-align: center;
    font-weight: bold;
    font-size: 10px;
}
.lista-productos li{
    font-size: 10px;
}