<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>hoja de seguridad 2</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/facturacion/static/hojaSeguridad.css">
    </head>
    <body>
        <div class="cabecera">
            <div class="logo">
                <img src="/dashboard/static/logo.png" alt="">

            </div>
            <div class="encabezado">
                <textarea name="text-encabezado" id="text-encabezado">
                    LUGRASCOL S.A.S
                    NIT:901.452.546-7
                    Hoja de seguridad 2 RESPONSABLE DE IVA
                    ESTA HOJA DE SEGURIDAD POR SU SIMILITUD DE INGREDIENTES CUBRE LOS SIGUIENTES PRODUCTOS: LUGRASCOL</textarea>
            </div>
        </div>
        <div class="productos">
            <h4 class="descripcion">Descripcion</h4>
            <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente optio at harum dolor id praesentium expedita aperiam odit. Corporis esse ipsum voluptatem libero aut optio, delectus modi ipsa earum dolor.</P>
        </div>
        <div class="seccion1">
            <P class="tituloSeccion1">
                SECCION I. PRODUCTO QUIMICO E IDENTIFICACION DE LA COMPAÑIA NUMERO DE RESPUESTA ANTE LA EMERGENCIA(24 HORAS): <span>Tel: 6468160</span>
            </P>
            <h5 class="preparado">PREPARADO POR:</h5>
            <p class="direccion">DIRECCION DE INNOVACION Y DESARROLLO FABRICA DE LUBRICANTES LUGRASCOL S.A.S</p>
            <div class="fechas">
                <span class="fechai">FECHA DE ELABORACION: Enero 2017.</span> <span class="fechaf">FECHA DE REVISION: Enero 2024</span>
            </div>
            <hr>
            <div class="seccion2">
                <h4>SECCION II. COMPOSICIÓN / INFORMACIÓN SOBRE INGREDIENTES</h4>
                <div class="encabezado-tabla">
                    <h5>INGREDIENTES</h5>
                    <h5>WT/WT%</h5>
                </div>
                <div class="lista-ingredientes">
                    <ol>
                        <li> Aceite Mineral Refinado de Petroleo
                            <span> Aditivos, compuestos organometalicos: antidesgaste inhibidores de oxidación, corrosión, Herrumbes, Antiespumantes, modificadores de fricción, extrema presion, mejoradores de Indices de Viscosidad, y depresores de punto de fluidez, entre otros.
                            </span>
                        </li>
                        <li>La composicion quimica es confidencial pero disponible en momento de requerirlo para efectos medicos.</li>
                    </ol>
                </div>
            </div>
            
            

        </div>


    </body>
</html>