{% extends "dashboard.html" %}
{% load static %}

{% block title %}
<title>Facturación</title>
{% endblock title %}

{% block titulohoja %}
<h2 class="titulo">Editar lista de Precios</h2>
{% endblock titulohoja %}

{% block areatrabajo %}

<script>
    var ActualizarLista = "{% url 'actualizar_precios' %}"
</script>

<link rel="stylesheet" href="{% static 'listaPrecios.css' %}">
<script src="{% static 'listaPrecios.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="contenedor-precios">

    <div class="header-precios">

        <div>
            <h1 class="titulo-principal">
                Lista de Precios
            </h1>

            <p class="subtitulo">
                Administración de precios por línea de producción
            </p>
        </div>

        <button id="GuardarPrecios" class="btn-guardar">
            Guardar Precios
        </button>

    </div>

    {% for id_tabla, linea in lineas.items %}

    <div class="card-linea">

        <div class="linea-header">
            <h2>{{ linea.nombre }}</h2>
                <button
                    type="button"
                    class="btn-agregar-producto"
                    data-tabla="{{ id_tabla }}"
                >
                    + Agregar Presentación
                </button>
        </div>

        <div class="productos-grid">

            {% for producto in linea.productos %}

            <div class="item-precio">

                <label>
                    {{ producto.nombre}}
                </label>

                <input
                    type="number"
                    class="input-precio"
                    data-tabla="{{ id_tabla }}"
                    data-nombre="{{ presentacion }}"
                    placeholder="Ingrese precio"
                >

            </div>

            {% endfor %}

        </div>

    </div>

    {% endfor %}

</div>

{% endblock areatrabajo %}