{% extends "dashboard.html" %}
{% load static%}

{% block title %}
	<title>Facturación</title>
{% endblock title %}
{% block titulohoja%}
	<h2 class="titulo">Editar lista de Precios</h2>
{% endblock titulohoja %}



{% block areatrabajo%}
<script>
    var ActualizarLista = "{% url 'actualizar_precios'%}" 
</script>

<link rel="stylesheet" href="{%static 'listaPrecios.css'%}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'listaPrecios.js' %}"></script>

<div class="modal-content" >
    
    <div class="cabeceraModal">
        <!-- Aquí puedes agregar contenido dinámico si lo deseas -->
        <h2 id="detalleContenido"> Lista de Precios</h2>
    </div>
    <div class="edit-list">
        <button type="submit" class="bt-edit-fra" id="GuardarPrecios">Guardar Precios</button>
    </div>
    <label for="tabla1" class="label-tabla">PRODUCTO MOTOR 2T ROJO-ECOLOGICO -- NAUTICO -- ISO 68 -- ATF</label>
    <div class="tabla">
        <table class="table" id="tabla1">
            <thead class="table">
                <tr class="encabezado">
                    <td>TAMBOR X55</td>
                    <td>GARRAFAS 5GL</td>
                    <td>BALDEX5</td>
                    <td>CAJA PINTA X24</td>
                    <td>PLANO X24</td>
                    <td>PLANO X12</td>
                    <td>LITRO X24</td>
                    <td>GALON X6</td>
                    <td>CHUPO X24</td>
                    <td>CANECA MT X15</td>
                    <td>PLANO X24 (946)</td>
                    <td>PLANO X12 (946)</td>
                    <td>TAMBOR SE</td>
                    <td>PIMPINA X6 SE</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="number" name="TAMBOR" id=""></td>
                    <td><input type="number" name="GARRAFAS" id=""></td>
                    <td><input type="number" name="BALDE" id=""></td>
                    <td><input type="number" name="PINTA" id=""></td>
                    <td><input type="number" name="PLANO24" id=""></td>
                    <td><input type="number" name="PLANO12" id=""></td>
                    <td><input type="number" name="LITRO24" id=""></td>
                    <td><input type="number" name="GALON" id=""></td>
                    <td><input type="number" name="CHUPO " id=""></td>
                    <td><input type="number" name="CANECAX15" id=""></td>
                    <td><input type="number" name="PLANO24946" id=""></td>
                    <td><input type="number" name="PLANO12946" id=""></td>
                    <td><input type="number" name="TAMBORSE" id=""></td>
                    <td><input type="number" name="PIMPINASE" id=""></td>
                </tr>
            </tbody>
        </table>
    </div>

    <label for="tabla2" class="label-tabla">PRODUCTO MOTOR OIL 40 -- 50 -- MAXIDIESEL -- SAE 60 -- LUBRICANTE PARA CADENAS</label>
    <div class="tabla">
        <table class="table" id="tabla2">
            <thead class="table">
                <tr class="encabezado">
                    <td>TAMBOR X55</td>
                    <td>GARRAFAS 5GL</td>
                    <td>BALDEX5</td>
                    <td>PLANO 4T X24</td>
                    <td>PLANO X24</td>
                    <td>PLANO X12</td>
                    <td>GALON X6</td>
                    <td>CANECA MT X15</td>
                    <td>PIMPINA MT X16</td>
                    <td>CHUPO X24</td>
                    <td>CILINDRICO X24</td>
                    <td>PLANO X24 (946)</td>
                    <td>PLANO X12 (946)</td>
                    <td>4T PLANO X24 (946)</td>
                    <td>TAMBOR X55 SE</td>
                    <td>PIMPINA X6 SIN ENVASE</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="number" name="TAMBOR" id=""></td>
                    <td><input type="number" name="GARRAFAS" id=""></td>
                    <td><input type="number" name="BALDE" id=""></td>
                    <td><input type="number" name="PLANO4T24" id=""></td>
                    <td><input type="number" name="PLANO24" id=""></td>
                    <td><input type="number" name="PLANO12" id=""></td>
                    <td><input type="number" name="GALON" id=""></td>
                    <td><input type="number" name="CANECAX15" id=""></td>
                    <td><input type="number" name="PIMPINAX16" id=""></td>
                    <td><input type="number" name="CHUPO" id=""></td>
                    <td><input type="number" name="CILINDRICO" id=""></td>
                    <td><input type="number" name="PLANO24946" id=""></td>
                    <td><input type="number" name="PLANO12946" id=""></td>
                    <td><input type="number" name="PLANO4T946X24" id=""></td>
                    <td><input type="number" name="TAMBORSE" id=""></td>
                    <td><input type="number" name="PIMPINASE" id=""></td>
                </tr>
            </tbody>
        </table>
    </div>

    <label for="tabla3" class="label-tabla">PRODUCTO TRANSMISIONES GL-1 </label>
    <div class="tabla">
        <table class="table" id="tabla3">
            <thead class="table">
                <tr class="encabezado">
                    <td>TAMBOR X55</td>
                    <td>GARRAFAS 5GL</td>
                    <td>GALON X6</td>
                    <td>CHUPO X24</td>
                    <td>BALDEX5</td>
                    <td>PLANO X24</td>
                    <td>PLANO X24 (946)</td>
                    <td>TAMBOR X55 SE</td>
                    <td>PIMPINA X6 SIN ENVASE</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="number" name="TAMBOR" id=""></td>
                    <td><input type="number" name="GARRAFAS" id=""></td>
                    <td><input type="number" name="GALON" id=""></td>
                    <td><input type="number" name="CHUPO" id=""></td>
                    <td><input type="number" name="BALDE" id=""></td>
                    <td><input type="number" name="PLANO24" id=""></td>
                    <td><input type="number" name="PLANO24946" id=""></td>
                    <td><input type="number" name="TAMBORSE" id=""></td>
                    <td><input type="number" name="PIMPINASE" id=""></td>
                </tr>
            </tbody>
        </table>
    </div>

    <label for="tabla4" class="label-tabla">PRODUCTO VALVULINA TRAPICHE </label>
    <div class="tabla">
        <table class="table" id="tabla4">
            <thead class="table">
                <tr class="encabezado">
                    <td>TAMBOR X55</td>
                    <td>GARRAFAS 5GL</td>
                    <td>GALON X6</td>
                    <td>CHUPO X24</td>
                    <td>BALDEX5</td>
                    <td>PLANO X24</td>
                    <td>PLANO X24 (946)</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="number" name="TAMBOR" id=""></td>
                    <td><input type="number" name="GARRAFAS" id=""></td>
                    <td><input type="number" name="GALON" id=""></td>
                    <td><input type="number" name="CHUPO" id=""></td>
                    <td><input type="number" name="BALDE" id=""></td>
                    <td><input type="number" name="PLANO24" id=""></td>
                    <td><input type="number" name="PLANO24946" id=""></td>
                </tr>
            </tbody>
        </table>
    </div>

    <label for="tabla5" class="label-tabla">PRODUCTO VALVULINA GL-5 </label>
    <div class="tabla">
        <table class="table" id="tabla5">
            <thead class="table">
                <tr class="encabezado">
                    <td>TAMBOR X55</td>
                    <td>GARRAFAS 5GL</td>
                    <td>BALDEX5</td>
                    <td>PLANO 4T X24</td>
                    <td>PLANO X24</td>
                    <td>PLANO X12</td>
                    <td>GALON X6</td>
                    <td>SCOTTER X20</td>
                    <td>SCOTTER PLANO X24</td>
                    <td>CILINDRICO X24</td>
                    <td>PLANO X24 (946)</td>
                    <td>PLANO X12 (946)</td>
                    <td>TAMBOR X55 SE</td>
                    <td>PIMPINA X6 SIN ENVASE</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="number" name="TAMBOR" id=""></td>
                    <td><input type="number" name="GARRAFAS" id=""></td>
                    <td><input type="number" name="BALDE" id=""></td>
                    <td><input type="number" name="PLANO4T24" id=""></td>
                    <td><input type="number" name="PLANO24" id=""></td>
                    <td><input type="number" name="PLANO12" id=""></td>
                    <td><input type="number" name="GALON" id=""></td>
                    <td><input type="number" name="SCOTTER20" id=""></td>
                    <td><input type="number" name="SCOTTERPLANO" id=""></td>
                    <td><input type="number" name="CILINDRICO" id=""></td>
                    <td><input type="number" name="PLANO24946" id=""></td>
                    <td><input type="number" name="PLANO12946" id=""></td>
                    <td><input type="number" name="TAMBORSE" id=""></td>
                    <td><input type="number" name="PIMPINASE" id=""></td>
                </tr>
            </tbody>
        </table>
    </div>

    <label for="tabla6" class="label-tabla"> PRODUCTO 20W50 SL -- 20W50 4T  </label>
    <div class="tabla">
        <table class="table" id="tabla6">
            <thead class="table">
                <tr class="encabezado">
                    <td>TAMBOR X55</td>
                    <td>GARRAFAS 5GL</td>
                    <td>BALDEX5</td>
                    <td>PLANO X24</td>
                    <td>PLANO X12</td>
                    <td>GALON X6</td>
                    <td>CANECA MT X15</td>
                    <td>PIMPINA MT X16</td>
                    <td>PLANO X24 (946)</td>
                    <td>PLANO X12 (946)</td>
                    <td>TAMBOR X55 SE</td>
                    <td>PIMPINA X6 SIN ENVASE</td>
                    <td>PINTA X 24</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="number" name="TAMBOR" id=""></td>
                    <td><input type="number" name="GARRAFAS" id=""></td>
                    <td><input type="number" name="BALDE" id=""></td>
                    <td><input type="number" name="PLANO24" id=""></td>
                    <td><input type="number" name="PLANO12" id=""></td>
                    <td><input type="number" name="GALON" id=""></td>
                    <td><input type="number" name="CANECAX15" id=""></td>
                    <td><input type="number" name="PIMPINAX16" id=""></td>
                    <td><input type="number" name="PLANO24946" id=""></td>
                    <td><input type="number" name="PLANO12946" id=""></td>
                    <td><input type="number" name="TAMBORSE" id=""></td>
                    <td><input type="number" name="PIMPINASE" id=""></td>
                    <td><input type="number" name="PINTA" id=""></td>
                </tr>
            </tbody>
        </table>
    </div>

    <label for="tabla7" class="label-tabla">PRODUCTO 25W60 SL -- 25W60 4T</label>
    <div class="tabla">
        <table class="table" id="tabla7">
            <thead class="table">
                <tr class="encabezado">
                    <td>TAMBOR X55</td>
                    <td>GARRAFAS 5GL</td>
                    <td>BALDEX5</td>
                    <td>PLANO X24</td>
                    <td>PLANO X12</td>
                    <td>GALON X6</td>
                    <td>CANECA MT X15</td>
                    <td>PIMPINA MT X16</td>
                    <td>PLANO X24 (946)</td>
                    <td>PLANO X12 (946)</td>
                    <td>TAMBOR X55 SE</td>
                    <td>PIMPINA X6 SIN ENVASE</td>
                    <td>PINTA X24</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="number" name="TAMBOR" id=""></td>
                    <td><input type="number" name="GARRAFAS" id=""></td>
                    <td><input type="number" name="BALDE" id=""></td>
                    <td><input type="number" name="PLANO24" id=""></td>
                    <td><input type="number" name="PLANO12" id=""></td>
                    <td><input type="number" name="GALON" id=""></td>
                    <td><input type="number" name="CANECAX15" id=""></td>
                    <td><input type="number" name="PIMPINAX16" id=""></td>
                    <td><input type="number" name="PLANO24946" id=""></td>
                    <td><input type="number" name="PLANO12946" id=""></td>
                    <td><input type="number" name="TAMBORSE" id=""></td>
                    <td><input type="number" name="PIMPINASE" id=""></td>
                    <td><input type="number" name="PINTA" id=""></td>
                </tr>
            </tbody>
        </table>
    </div>

    <label for="tabla8" class="label-tabla">PRODUCTO DIESEL 15W40  </label>
    <div class="tabla">
        <table class="table" id="tabla8">
            <thead class="table">
                <tr class="encabezado">
                    <td>TAMBOR X55</td>
                    <td>GARRAFAS 5GL</td>
                    <td>BALDEX5</td>
                    <td>PLANO X24</td>
                    <td>PLANO X12</td>
                    <td>GALON X6</td>
                    <td>CANECA MT X15</td>
                    <td>PLANO X24 (946)</td>
                    <td>PLANO X12 (946)</td>
                    <td>TAMBOR X55 SE</td>
                    <td>PIMPINA X6 SIN ENVASE</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="number" name="TAMBOR" id=""></td>
                    <td><input type="number" name="GARRAFAS" id=""></td>
                    <td><input type="number" name="BALDE" id=""></td>
                    <td><input type="number" name="PLANO24" id=""></td>
                    <td><input type="number" name="PLANO12" id=""></td>
                    <td><input type="number" name="GALON" id=""></td>
                    <td><input type="number" name="CANECAX15" id=""></td>
                    <td><input type="number" name="PLANO24946" id=""></td>
                    <td><input type="number" name="PLANO12946" id=""></td>
                    <td><input type="number" name="TAMBORSE" id=""></td>
                    <td><input type="number" name="PIMPINASE" id=""></td>
                </tr>
            </tbody>
        </table>
    </div>

    <label for="tabla9" class="label-tabla">PRODUCTO GRASA DE CALCIO ROJA - AZUL - COPAS -- GRASA DE RODAMIENTOS DE SODIO </label>
    <div class="tabla">
        <table class="table" id="tabla9">
            <thead class="table">
                <tr class="encabezado">
                    <td>TAMBOR X55</td>
                    <td>BALDE X7</td>
                    <td>BALDE X16</td>
                    <td>CAJA X8</td>
                    <td>CAJA X24</td>
                    <td>CAJA X48</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="number" name="TAMBOR" id=""></td>
                    <td><input type="number" name="BALDE7" id=""></td>
                    <td><input type="number" name="BALDE16" id=""></td>
                    <td><input type="number" name="CAJA8" id=""></td>
                    <td><input type="number" name="CAJA24" id=""></td>
                    <td><input type="number" name="CAJA48" id=""></td>
                </tr>
            </tbody>
        </table>
    </div>

    <label for="tabla10" class="label-tabla">PRODUCTO GRASA DE LITIO AZUL </label>
    <div class="tabla">
        <table class="table" id="tabla10">
            <thead class="table">
                <tr class="encabezado">
                    <td>TAMBOR X55</td>
                    <td>BALDE X7</td>
                    <td>BALDE X16</td>
                    <td>CAJA X8</td>
                    <td>CAJA X24</td>
                    <td>CAJA X48</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="number" name="TAMBOR" id=""></td>
                    <td><input type="number" name="BALDE7" id=""></td>
                    <td><input type="number" name="BALDE16" id=""></td>
                    <td><input type="number" name="CAJA8" id=""></td>
                    <td><input type="number" name="CAJA24" id=""></td>
                    <td><input type="number" name="CAJA48" id=""></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

{%endblock areatrabajo%}