{% extends "dashboard.html" %}
{% load static%}

{% block title %}
	<title>Inventario</title>
{% endblock title %}
{% block titulohoja%}
	<h2 class="titulo">Inventario</h2>
{% endblock titulohoja %}


{% block areatrabajo %}

<script>
	var EditarNombreInventario = "{% url 'EditarNombre'%}"
</script>


<script src="{% static 'filtrar.js' %}"></script>

<link rel="stylesheet" href="{% static 'tabla1.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />


<div class="sobretabla">
	<div class="filtro">
		<i class="bi bi-funnel-fill"></i>
		<select name="filtro" id="filtro">filtrar
			<option value="">Filtrar</option>
			<option value="materias">Materias Primas</option>
			<option value="P_terminados">Productos terminados</option>
		</select>
	</div>
	<div class="filtro">
		<i class="bi bi-funnel-fill"></i>
		<input type="text" id="filtroCodigo" placeholder="filtrar">
	</div>
	<div class="ejuste">
		<i class="bi bi-gear-fill"></i>
		<a href="{% url 'ajuste'%}">Ajuste de entrada</a>
	</div>
	<div class="averias">
		<i class="bi bi-wrench-adjustable"></i>
		<a href="{% url 'averias'%}">Control de Averias</a>
	</div>
	<div class="kardex">
		<i class="bi bi-diagram-3-fill"></i>
		<a href="{% url 'kardex' %}">Reconstruir Kardex</a>
	</div>
	<!--<div class="exportar">
		<i class="bi bi-file-earmark-x"></i>
		<a href="{%url 'cargaSaldosIniciales'%}">Carga Saldos iniciales</a>
	</div>-->
	<div class="exportar-inv">
		<i class="bi bi-filetype-xls"></i>
		<a href="{% url 'exportar'%}">Descargar inventario</a>
	</div>
	<div class="importar-inv">
		<i class="bi bi-file-earmark-arrow-up"></i>
		<a href="{% url 'cargarInventario'%}">Cargar Inventario</a>
	</div>
</div>



<div class= "tabla">
	<table class="table">
		<thead class="table">
			<tr class="encabezado">
				<td>ID Producto</td>
				<td>Nombre</td>
				<td> Cantidad</td>
				<td>Acciones</td>
			</tr>
		</thead>
		<tbody>
			{% for inv in inventario %}
			<tr  data-tipo="{{ inv.tipo }}">
				<td>{{inv.cod_inventario}}</td>
				<td class="editable" data-id="{{ inv.cod_inventario }}" >{{inv.nombre}}</td>
				<td>{{inv.cantidad}}</td>
				<td>
					<i class="bi bi-pencil-square" title="Editar Nombre" data-id="{{inv.cod_inventario}}"></i>
					<i class="bi bi-arrow-clockwise"></i>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>	
	
</div>
{% endblock areatrabajo %}

