{% extends "dashboard.html" %}
{% load static%}

{%block titulohoja%}
	<h2 class="titulo">Orden de Compra</h2>
{%endblock%}


{% block title %}
	<title>Orden de Compra</title>
{% endblock title %}
{% block areatrabajo %}
	<link rel="stylesheet" href="{%static 'editar_compra.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<h4>Proveedor</h4>
    
	<div class="container">
		<div class="form-container">
			<div class="left-column">
				<div class="selector-container">
                    
					<div class="campofactura">
                        {% if objetos %}
						<input type="int" id="numeroFactura"  readonly placeholder="Ingrese el número de factura"value="{{ objetos.0.id_compra.id_compra }}">
                        {%endif%}
					</div>
                    
					<div class="campofecha">
                        {% if objetos %}
						<input type="date" id="fechaCreacion" readonly value="{{ objetos.0.fecha_ingreso_str}}">
                        {%endif%}
					</div>
                    
				</div>
				<div class="selector-container">
                    
					<select class="selector" name="proveedor" id="proveedor">
                        
                        <option value="{{proveedores}}" selected>{{nombres}}</option>
					</select>
					<button id="addprov" class="addprov" >+</button>
				</div>
				
				<div class="selector-container">
					<select class="selector" name="producto" id="producto">
                        {% for producto in productos %}
						<option value="{{ producto.id }}" data-costo_unitario="{{ producto.costo_unitario }}">Producto</option>
                        {% endfor %}
					</select>
					<button id="addprod" class="addprod">+</button>
				</div>
			</div>
			<div class="right-column">
				<div class="info">
                    {% if objetos%}
					<div id="nitproveedor">{{objetos.0.id_proveedor}}</div>
					<div id="direccion">{{objetos.0.direccion}}</div>
					<div id="telefono">{{objetos.0.telefono}}</div>
                    {%endif%}
				</div>
				<div id="totalFactura">
					Total Factura
				</div>
				<div>
					<button id="enviarFormularioBtn">Guardar Orden</button>
				</div>
			</div>
		</div>
	</div>
    

	
	<div class= "tabla">
		<table class="table" id="tabla-formulario">
			<thead class="table">
				<tr class="encabezado">
					<td>ID Producto</td>
					<td>Nombre</td>
					<td> Cantidad</td>
					<td>Costo Unitario</td>
					<td>Total</td>
					<td>Fecha de ingreso</td>
					<td><select name="unidad" id="unidad">
						<option value="">Unidad</option>
						<option value="">Kg</option>
						<option value="">Gr</option>
						<option value="">Galon</option>
					</select></td>
					<td> Proveedor</td>
					<td>Compra #</td>
					<td>Opciones</td>
				</tr>
			</thead>
			<tbody>
                {% for objeto in objetos%}
                <tr data-cod-inventario="{{ objeto.cod_inventario.cod_inventario }}">
                    <td>{{objeto.cod_inventario.cod_inventario}}</td>
                    <td>{{objeto.nombre_mp}}</td>
                    <td><input type="number" class="cantidad" value="{{objeto.cant_mp}}"></td>
                    <td><input type="number" class="costounitario" value="{{objeto.costo_unitario}}"></td>
                    <td></td>
                    <td>{{objeto.fecha_ingreso}}</td>
                    <td>{{objeto.unidad_medida}}</td>
                    <td>{{objeto.id_proveedor}}</td>
                    <td>{{objeto.id_compra.id_compra}}</td>
                    <td><button class="eliminar-btn"><i class="bi bi-trash3-fill"></i></button></td>
                </tr>
                {%endfor%}
			</tbody>
		</table>	
		
	</div>
	

{% endblock  %}	


{% block javascrips %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        // Al hacer clic en el botón eliminar
        $('.eliminar-btn').click(function() {
            // Eliminar la fila correspondiente
            $(this).closest('tr').remove();
        });
    });
    $(document).ready(function() {
        var proveedorSeleccionado = $('#proveedor').find('option:selected');
        var proveedorId = proveedorSeleccionado.val();
        var proveedorNit = proveedorSeleccionado.data('nit');
        
        console.log('ID:', proveedorId);
        

        // Hacer una solicitud AJAX para obtener los productos del proveedor estático
        $.ajax({
            url: "{% url 'obtener' %}",
            type: 'GET',
            headers: {
                    "X-CSRFToken": csrftoken
            },
            data: {
                proveedor_id: proveedorId
            },
            success: function(data) {
                // Limpiar el selector de productos
                $('#producto').empty();
                // Agregar las opciones de productos obtenidas
                $.each(data, function(index, producto) {
                    $('#producto').append($('<option>', {
                        value: producto.id,
                        text: producto.nombre,
                    }));
                });
            },
            error: function(xhr, status, error) {
                console.error('Error al obtener productos:', error);
            }
        });
    });
    $(document).ready(function() {
        // Al hacer clic en el botón eliminar

        // Al seleccionar un producto
        $('#producto').change(function() {
            // Obtener los datos del producto seleccionado
            var productoSeleccionado = $(this).find('option:selected');
            var idProducto = productoSeleccionado.val();
            var nombreProducto = productoSeleccionado.text();
            var costoUnitario = productoSeleccionado.data('costo_unitario');
            var fechaIngreso = $('#fechaCreacion').val();
            var id_compra = $('#numeroFactura').val();
            var proveedorSeleccionado = $('#proveedor').find('option:selected');
            var proveedorId = proveedorSeleccionado.val();
            

            // Crear una nueva fila para la tabla
            var nuevaFila = '<tr data-cod-inventario="' + idProducto +'">' +
                                '<td>' + idProducto + '</td>' +
                                '<td>' + nombreProducto + '</td>' +
                                '<td><input type="number" class="cantidad"></td>' +
                                '<td><input type="number" class="costounitario"> </td>' +
                                '<td></td>' +
                                '<td>' + fechaIngreso + '</td>' +
                                '<td><input type="text" class="unidad_medida"> </td>' +
                                '<td>'+ proveedorId +'</td>' +
                                '<td>'+ id_compra +'</td>' +
                                '<td><button class="eliminar-btn"><i class="bi bi-trash3-fill"></i></button></td>' +
                            '</tr>';

            // Agregar la nueva fila a la tabla
            $('#tabla-formulario tbody').append(nuevaFila);

            $('.eliminar-btn').click(function() {
            // Eliminar la fila correspondiente
                $(this).closest('tr').remove();
            })
        });
    });


    $('#enviarFormularioBtn').click(function() {
        var nfactura = $('#numeroFactura').val();
        console.log('factura', nfactura)
        var total =0;

    // Crear un array para almacenar los datos de cada fila
        var datosFilas = [];

        $('table tbody tr').each(function() {
            var codInventario = $(this).attr('data-cod-inventario');
            var cantidad = $(this).find('.cantidad').val();
            var costo = $(this).find('.costounitario').val();
            var totallinea = cantidad * costo;
            
            var fechaIngreso = $(this).find('td').eq(5).text(); // Suponiendo que la fecha de ingreso está en la 6ta celda
            var celdaUnidadMedida = $(this).find('td').eq(6)
            if (celdaUnidadMedida.find('input').length > 0) {
                // Si hay un input, obtén su valor
                unidadMedida = celdaUnidadMedida.find('input').val();
            } else {
                // Si no hay un input, simplemente obtén el texto
                unidadMedida = celdaUnidadMedida.text();
            }
// Suponiendo que la unidad de medida está en la 7ma celda
            // Suponiendo que la unidad de medida está en la 7ma celda
            var idProveedor = $(this).find('td').eq(7).text(); // Suponiendo que el ID del proveedor está en la 8va celda
            var idCompra = $(this).find('td').eq(8).text();
            var tipo = 'm'

            // Crear un objeto con los datos de la fila actual
                var datosFila = {
                    codInventario: codInventario,
                    cantidad: cantidad,
                    costo: costo,
                    totalLinea: totallinea,
                    fechaIngreso: fechaIngreso,
                    unidadMedida: unidadMedida,
                    idProveedor: idProveedor,
                    idCompra: idCompra,
                    tipo: tipo
                };
                total += totallinea
                // Agregar el objeto al array
                datosFilas.push(datosFila);
            });

        // Objeto con los datos a enviar al backend
        var datosEnviar = {
            nfactura: nfactura,
            datos: datosFilas,
            total: total
        };

        console.log('Datos a enviar al backend:', datosEnviar);
        if (confirm('¿Estás seguro de enviar los datos?')) {
        // Enviar los datos al backend a través de AJAX
            $.ajax({
                url: "{% url 'editado' %}",  // Asegúrate de proporcionar la URL correcta para el endpoint del backend
                type: "POST",  // El tipo de petición es POST
                headers: {
                    "X-CSRFToken": csrftoken
                },
                
                data: JSON.stringify(datosEnviar),  // Convertir el objeto a JSON para enviarlo al backend
                contentType: "application/json",  // Especificar el tipo de contenido como JSON
                success: function(data) {
                    // Manejar la respuesta exitosa del backend si es necesario
                    console.log('Respuesta del servidor:', data);
                    window.history.back();
                },
                error: function(xhr, status, error) {
                    // Manejar errores de la petición AJAX
                    console.error('Error al enviar datos al servidor:', error);
                }
            });
        }

    });

    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Busca la cookie que comienza con el nombre deseado
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

</script>
{%endblock%}